<div class="animate__animated animate__fadeInRight">
  <div class="p-6 bg-blue-50 text-blue-800 border border-blue-200 rounded-xl shadow-sm text-center">
    <p class="text-base md:text-lg font-medium">
      Este componente es complementario
    </p>
    <p class="text-sm mt-2 text-blue-600">
      Este componente no es esencial para el flujo principal, pero puede ser útil en vistas de administración o para futuras
      extensiones. Por ejemplo, un rol de tipo administrador podría actualizar el saldo disponible del cajero
    </p>
  </div>
</div>
