@if(visible) {
  <div class="card p-4">
    <div class="flex flex-wrap justify-center items-end gap-2">
      <p-skeleton size="2rem" />
      <p-skeleton size="3rem" class="hidden sm:block" />
      <p-skeleton size="4rem" class="hidden md:block" />
      <p-skeleton size="5rem" class="hidden lg:block" />
      <p-skeleton size="6rem" class="hidden xl:block" />
      <p-skeleton size="7rem" class="hidden 2xl:block" />
      <p-skeleton size="8rem" class="hidden 2xl:block" />
      <p-skeleton size="9rem" class="hidden 2xl:block" />
      <p-skeleton size="10rem" class="hidden 3xl:block" />
    </div>
  </div>
}
